@font-face {
  font-family: "CALEspresso_Bold";
  src: url("cal_espresso.eot"); /* IE9*/
  src: url("cal_espresso.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("cal_espresso.woff") format("woff"), /* chrome、firefox */
  url("cal_espresso.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("cal_espresso.svg#CALEspressoW00-Bold") format("svg"); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}
