---
title: About
---
.about
  .about--content
    %section
      %p My love of photography has been a lifelong affair that began over 30 years ago with an old Minolta film camera.  I had always been fascinated with the idea of taking pictures and making them into memories, but due to other obligations, my photography was put on hold.  During that time, I still explored various other creative outlets including cross stitch, woodworking, and writing, but photography was always on my mind.

      %p Once I had made my decision to purchase a digital camera, my love of photography truly began to blossom.  With my overwhelming desire to be in nature, it was an easy decision to make nature photography my priority: I love to explore and do things differently.  In my photographs, I am always looking for ways to make the final product beautiful, but unique.

      %p I want you to feel and relate to my photographs knowing that a photograph that makes you feel any emotion is one that you will continue to cherish for years.  Purchasing a photograph for your home or for a loved one's home is an exciting way to bring nature's beautiful scenes indoors.  I hope that my photography can speak to you and will keep bringing you back to my website for more!

