---
title: Home
---
.slider-wrapper.theme-nivodefault
  #slider.nivoSlider
    -#%img{alt: "Arches",
      -#data:{thumb:"images/web/web_arches.jpg"},
      -#src: "images/web/web_arches.jpg",
      -#title: ""}
    %img{alt: "Linn Run",
      data:{thumb: "images/web/web_LinnRun.jpg"},
      src: "images/web/web_LinnRun.jpg",
      title: ""}
    %img{alt: "Under Tree Falls",
      data:{thumb: "images/web/web_UnderTreeFalls.jpg"},
      src: "images/web/web_UnderTreeFalls.jpg",
      title: ""}
    -#%img{alt: "Winter Sun",
      -#data:{thumb: "images/web/web_wintersun.jpg"},
      -#src: "images/web/web_wintersun.jpg",
      -#title: ""}
    %img{alt: "Yellowcreek Sunrise",
      data:{thumb: "images/web/web_YellowcreekSunrise.jpg"},
      src: "images/web/web_YellowcreekSunrise.jpg",
      title: ""}

//.reviews--main
//  %hr
//  %h1
//    %strong Reviews
//  .reviews--column
//    %p
//      Used Savvy Shots to come to my home and take pictures of my cats. Savannah has an amazing talent! She is professional, patient and easy to work with! I love all the pictures she took, I highly recommend her for any of your photographic needs! Thanks again Savannah! &#9733;&#9733;&#9733;&#9733;&#9733; -
//      %a{href:'https://www.facebook.com/angie.bryan.73'} Angie Bryan
//  .reviews--column
//    %p
//      Savannah does great photos for the Humane Society of Westmoreland County! We love her pet photos and she does great photos of people too! &#9733;&#9733;&#9733;&#9733;&#9733; -
//      %a{href: 'https://www.facebook.com/jzerebnick'} Jessica Zerebnick
//  .reviews--column
//    %p
